<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="id=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<title>Image upload</title>
</head>
<body>
	<div class="container">
		<h1>File upload</h1>
		<%= typeof msg != 'undefined' ? msg : '' %>
		<form action="/upload" method="POST" enctype="multipart/form-data">
			<div class="file-field input-field">
				<div class="btn grey">
					<span>Browse File</span>
					<input name="myImage" type="file">
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate"
					type="text">
				</div>
			</div>
			<button type="submit" class="btn">Upload</button>

		</form><br>
			<button  onclick="snap();" class="btn">Capture Photo</button><br>
			<video id="video"></video>
			<canvas id="canvas"></canvas><br>
			

	</div>

	<script
  	src="https://code.jquery.com/jquery-3.3.1.min.js"
  	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  	crossorigin="anonymous">
  		

  	</script>

  	<script type="text/javascript">
			var video = document.getElementById('video');
			var canvas = document.getElementById('canvas');
			var context = canvas.getContext('2d');

			navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.oGetUserMedia || navigator.msGetUserMedia;

			if(navigator.getUserMedia){
				navigator.getUserMedia({video:true}, streamWebCam, throwError);
			}

			function streamWebCam (stream) {
				// video.src = window.URL.createObjectURL(stream);
				video.srcObject = stream;
				video.play();
			}

			function throwError (e) {
				alert(e.name);
			}

			function snap () {
				canvas.width = video.clientWidth;
				canvas.height = video.clientHeight;
				context.drawImage(video, 0, 0);
			}
		</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>